html {
  background: none repeat scroll 0 0 #FFFFFF;
  color: #000000;
  margin: 0;
  padding: 0;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  box-sizing: content-box;
  border: 0 none;
  font-family: inherit;
  font-size: 100%;
  font-style: inherit;
  font-weight: inherit;
  margin: 0;
  outline: 0 none;
  padding: 0;
  vertical-align: baseline
}

body {
  line-height: 1.2
}

table {
  border-collapse: collapse;
  border-spacing: 0
}

address, caption, cite, code, dfn, em, strong, th, var {
  font-style: normal;
  font-weight: normal
}

li {
  list-style: none outside none
}

caption, th {
  text-align: left
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal
}

blockquote, q {
  quotes: none
}

blockquote:before, blockquote:after, q:before, q:after {
  content: none
}

abbr, acronym {
  font-variant: normal
}

sup {
  vertical-align: text-top
}

sub {
  vertical-align: text-bottom
}

input, textarea, select {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit
}

legend {
  color: #000000
}

:focus {
  outline: 0 none
}

ins {
  text-decoration: none
}

del {
  text-decoration: line-through
}

/* END reset css */